<div #infiniteGridContainer class="infinite-grid-container" (scroll)="scroll($event)">
  <div class="grid-column"
       [style]="{width: gridColumnWidth+'px',
       height: gridColumnHeight+'px',
       transform: 'translateX('+translateX+'px) ' + 'translateY('+translateY+'px)'}">
    <div class="flex" [style]="{top: (0-translateY)+'px'}">
      <div class="grid-row" *ngFor="let header of getHeaderRange$ | async">
        <ng-container [ngTemplateOutlet]="headerTemplate"
                      [ngTemplateOutletContext]="{$implicit: header}"></ng-container>
      </div>
    </div>
    <div class="grid-column">
      <div class="grid-row" *ngFor="let element of elementRange$ | async">
        <ng-container [ngTemplateOutlet]="contentTemplate"
                      [ngTemplateOutletContext]="{$implicit: element}"></ng-container>
      </div>
    </div>
  </div>
</div>
